*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.all{
  background-color: coral;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
  "box image"
  "answer answer";
  margin-top: 20px ;
}

@media (max-width : 700px) {
  .grid-container{
    display: flex;
    flex-direction: column;
  }
}

.box{
  display: flex;
  flex-direction: column;
  grid-area: box;
  margin: 50px auto auto auto; 
  padding: 10px 30px 30px 30px;
  border: 3px solid #31302B;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
}


@media (max-screen : 700px){
  .box{
    display: block;
    margin: auto auto;
    padding: 8px 26px 26px 26px;
  }
}

.box_text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 13px;
  color: black;
}
@media (max-width : 700px) {
  .box_text{
    font-size: 16px;
    padding: 11px;
  }
}


@media (max-screen : 700px){
  .box_text{
    text-align: center;
  }
}


.answer{
  grid-area: answer;
  text-align: center;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 20px auto auto auto;
}


@media (max-width : 850px){
  .answer{
    margin: 30px auto auto auto;
  }
}

@media (max-width : 700px){
  .answer{
    margin: 62px auto auto auto;
  }
}


.image{
  height: 80%;
  width: 60%;
  grid-area: image;
  display: block;
  margin: 44px auto auto auto;
}

select{ 
  padding: 7px 40px 7px 12px; 
  width: 200px;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;

  transition: all 150ms ease;
  
  font-family: inherit;
  font-size: 1rem;
  color: #5A667F;
}
option{ 
  color: #223254;
} 
option:hover { 
  stroke: #0077FF;
}




.input-block input {
  
  width: 200px;
  padding: 5px 8px;
  
  border: 2px solid #D9D9D9;
  border-radius: 5px;
  outline:none;
  
  font-weight: 500;
  font-size: 1rem;
  color: #495055;
}

.input-block {
color: #284B63;
border-color: #284B63;
}


