@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.all{
  background-color: coral;
}

/* ====================== griding all three components(box, image, answer) =========================== */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
  "box image"
  "answer answer";
  margin-top: 20px ;
}

@media (max-width : 700px) {
  .grid-container{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
  }
}

/* ========================= box containing drop-down and placeholder ================================= */
.box{
  display: flex;
  flex-direction: column;
  grid-area: box;
  margin: 50px auto auto auto; 
  padding: 10px 30px 30px 30px;
  border: 3px solid #31302B;
  border-radius: 12px;
  cursor: pointer;
}


@media (max-width : 400px){
  .box{
    padding: 4px 13px 13px 13px;
  }
}

/* =============================== box text ========================================= */
.box_text{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Open Sans;
  font-size: 20px;
  padding: 13px;
  color: black;
  font-weight: 400;
}

@media (max-width : 700px) {
  .box_text{
    font-size: 16px;
    padding: 11px;
  }
}

@media (max-width : 400px) {
  .box_text{
    font-size: 13px;
    padding: 7px;
  }
}

/* =============================== answer line ========================================= */
.answer{
  grid-area: answer;
  text-align: center;
  color: black;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Open Sans;
  font-size: 20px;
  margin: 20px auto auto auto;
}


@media (max-width : 850px){
  .answer{
    margin: 30px auto auto auto;
  }
}

@media (max-width : 700px){
  .answer{
    margin: 62px auto auto auto;
  }
}

/* =============================== image ========================================= */
.image{
  height: 80%;
  width: 60%;
  grid-area: image;
  display: block;
  margin: 44px auto auto auto;
}

/* =============================== placeholder ========================================= */
.input-block input {
  width: 200px;
  padding: 5px 8px;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
  outline:none;
  font-weight: 500;
  font-size: 1rem;
  color: #495055;
}
.input-block {
  color: #284B63;
  border-color: #284B63;
}
@media (max-width : 400px) {
  .input-block input{
    width : 150px;
  }
}

/* =============================== drop-down ========================================= */
select{ 
  width: 200px;
  background: white;
  padding: 7px 40px 7px 12px; 
  border: 1px solid #E8EAED;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  transition: all 150ms ease;
  color: #5A667F;
  font-family: inherit;
  font-size: 1rem;
}
option{ 
  color: #223254;
} 
option:hover { 
  stroke: #0077FF;
}

@media (max-width : 400px) {
  select{
    width : 150px;
  }
}

