@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: rgba(185, 210, 214, 0.363);
}

/* =============================== header ========================================= */
.header{
  display: block;
  margin: 0% auto auto auto;

  background-image: url(./Images/Header.jpg);
    
  font-size: 3.666rem;
  line-height: 1.0625;
  font-weight: 700;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  letter-spacing: -.009em;
}

@media (max-width : 480px) {
  .header{
    font-size: 2.33rem;  
  }
}

/* =============================== icon ========================================= */
.header-image{
  position: absolute;
  top: -3px;
  left: 3%;
  
  height: 11%;
  
  background: transparent;
  padding: 8px;

  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}


.header-image:hover{  
  box-shadow: inset 100px 0 0 0 #E2D4F3;
  color: #fff;
}

@media (max-width : 480px) {
  .header-image{
    position: absolute;
    top: -5px;
    left: 0%;
    height: 7.66%;
  }
}

@media (max-width : 300px) {
  .header-image{
    top: 3%;
  }
}

/* =============================== hr available at bottom ========================================= */
hr{
  background-color: rgb(179, 179, 179);
  height: 3px;
  width: 10%;
  
  display: block;
  margin: 30px auto 10px auto;
}

/* =============================== footer and footer text ========================================= */
footer{
  height: fit-content;
  width: 100%;
}

.footer_text{
  color: black;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 500;
  text-align: center;
  font-family: Oxygen, Roboto, Ubuntu, Cantarell, Open Sans;
  letter-spacing: -.009em;
}

/* =============================== social media ========================================= */
.social{
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 6px auto 4px auto;
}

@media (max-width : 650px) {
  .social{
    font-size: 32px;
  }
}

.social .fab , .social .fas{
  background: #39383a59;
  border-radius: 10%;
  color: white;
  transition:  all 0.3s ease;
  margin-left: 30px;
  padding: 6px;
}

.social .fab:hover , .social .fas:hover{
  border-radius: 50%;
}
